<div class="container">
     <div class="row justify-content-md-center">
      <H4>UPDATE TEACHER</H4>
      <br>
        <form #updateTeacherForm="ngForm" (ngSubmit)="updateTeacherForm.valid && onSubmit(updateTeacherForm)">
            <div class="form-group row">
              <label for="inputName" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="sharedService.updateModel.name" class="form-control" id="inputName" placeholder="name"  required>
              </div>
            </div><br>
        
            <div class="form-group row">
              <label for="inputGender" class="col-sm-2 col-form-label">Gender</label>
              <div class="col-sm-10">
              <input type="text" name="gender" #gender="ngModel" [(ngModel)]="sharedService.updateModel.gender" class="form-control" id="inputgender" placeholder="gender" required>
              <!--<p> 
              <input type="radio" class="form-control" value="Male"  name="gender" required #gender="ngModel" [(ngModel)]="model.gender" > Male <br>
              <input type="radio" class="form-control" value="Female"   name="gender" required #gender="ngModel" [(ngModel)]="model.gender" > Female
             </p>-->
              </div>
            </div> <br>

            <div class="form-group row">
              <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
              <div class="col-sm-10">
                <input type="text" name="address" #address="ngModel" [(ngModel)]="sharedService.updateModel.address"class="form-control" id="inputaddress" placeholder="address" required>
              </div>
            </div> <br>
             <div class="form-group row">
              <label for="inputContact" class="col-sm-2 col-form-label">Contact No</label>
              <div class="col-sm-10">
                <input type="number" name="contact"  #contact="ngModel" [(ngModel)]="sharedService.updateModel.contact" class="form-control" id="inputContact" placeholder="contact no"  required>
              </div>
            </div><br>
            <div class="form-group row">
              <div class="col-sm-10 offset-2">
        
                <!--<button type="submit" class="btn btn-primary" (click)="onSubmit(form)" >Submit</button>-->
                <input type="submit" class="btn btn-primary" value="Submit">
              </div>
            </div>
        </form>
    </div>
</div>

