<div class="container">
    <div class="row justify-content-md-center">
      <H4>UPDATE ATTENDANCE</H4>
      <br>
       <form #updateAttendanceForm="ngForm" (ngSubmit)="updateAttendanceForm.valid && onSubmit(updateAttendanceForm)">
           <div class="form-group row">
             <label for="inputTeacherId" class="col-sm-2 col-form-label">Teacher id</label>
             <div class="col-sm-10">
               <input type="number" name="teacherId"  #teacherId="ngModel" [(ngModel)]="sharedService.updateModelAttendance.teacherId" class="form-control" id="inputTeacherId" placeholder="teacherId"  required>
             </div>
           </div><br>
        <div class="form-group row">
          <label for="inputPresent" class="col-sm-2 col-form-label">Present</label>
          <div class="col-sm-10">
            <input type="number" name="present" #present="ngModel" [(ngModel)]="sharedService.updateModelAttendance.present" class="form-control" id="inputPresent" placeholder="present"  required>
          </div>
        </div><br>
        <div class="form-group row">
         <label for="inputAbsent" class="col-sm-2 col-form-label">Absent</label>
         <div class="col-sm-10">
           <input type="number" name="absent" #absent="ngModel" [(ngModel)]="sharedService.updateModelAttendance.absent" class="form-control" id="inputAbsent" placeholder="absent"  required>
         </div>
        </div><br>
           <div class="form-group row">
             <div class="col-sm-10 offset-2">
       
               <!--<button type="submit" class="btn btn-primary" (click)="onSubmit(form)" >Submit</button>-->
               <input type="submit" class="btn btn-primary" value="Submit">
             </div>
           </div>
       </form>
   </div>
</div>