
<div class="container">
  <div class="row justify-content-md-center">
      <form>
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" name="name" class="form-control" id="inputName" placeholder="Name"  required>
            </div>
          </div><br>
      
          <div class="form-group row">
            <label for="inputNIC" class="col-sm-2 col-form-label">TeacherID</label>
            <div class="col-sm-10">
              <input type="text" name="nic" class="form-control" id="inputNIC" placeholder="NIC" required>
            </div>
          </div> <br>
      
          <div class="form-group row">
            <div class="col-sm-10 offset-2">
      
              <button type="submit" class="btn btn-primary" >Submit</button>
      
            </div>
          </div>
      </form>
  </div>
</div>

