
<div class="container">
  <div class="row justify-content-md-center">
      <form>
          <div class="form-group row">
            <label for="inputpresent" class="col-sm-2 col-form-label">Present</label>
            <div class="col-sm-10">
              <input type="text" name="present" class="form-control" id="inputpresent"  required>
            </div>
          </div><br>
      
          <div class="form-group row">
            <label for="inputAbsent" class="col-sm-2 col-form-label">Absent</label>
            <div class="col-sm-10">
              <input type="text" name="absent" class="form-control" id="inputAbsent" required>
            </div>
          </div> <br>

          <div class="form-group row">
            <label for="inputNIC" class="col-sm-2 col-form-label">Class</label>
            <div class="col-sm-10">
              <input type="text" name="Class" class="form-control" id="inputClass" required>
            </div>
          </div> <br>

          <div class="form-group row">
            <label for="inputNIC" class="col-sm-2 col-form-label">TeacherId</label>
            <div class="col-sm-10">
              <input type="text" name="TeacherId" class="form-control" id="TeacherId" required>
            </div>
          </div> <br>
      
          <div class="form-group row">
            <div class="col-sm-10 offset-2">
      
              <button type="submit" class="btn btn-primary" >Submit</button>
      
            </div>
          </div>
      </form>
  </div>
</div>