<div class="container">
     <div class="row justify-content-md-center">
      <H4>UPDATE STUDENT</H4>
      <br>
        <form #updateStudentForm="ngForm" (ngSubmit)="updateStudentForm.valid && onSubmit(updateStudentForm)">
            
            <div class="form-group row">
              <label for="inputName" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="sharedService.updateModelStudent.name" class="form-control" id="inputName" placeholder="name"  required>
              </div>
            </div><br>
           <div class="form-group row">
              <label for="inputDob" class="col-sm-2 col-form-label">Dob</label>
              <div class="col-sm-10">
                <input type="date" name="dob" #dob="ngModel" [(ngModel)]="sharedService.updateModelStudent.dob" class="form-control" id="inputDob" placeholder="Dob"  required>
              </div>
            </div><br>
            <div class="form-group row">
              <label for="inputGender" class="col-sm-2 col-form-label">Gender</label>
              <div class="col-sm-10">
              <input type="text" name="gender" #gender="ngModel" [(ngModel)]="sharedService.updateModelStudent.gender" class="form-control" id="inputgender" placeholder="gender" required>
              <!--<p> 
              <input type="radio" class="form-control" value="Male"  name="gender" required #gender="ngModel" [(ngModel)]="model.gender" > Male <br>
              <input type="radio" class="form-control" value="Female"   name="gender" required #gender="ngModel" [(ngModel)]="model.gender" > Female
             </p>-->
              </div>
            </div> <br>

            <div class="form-group row">
              <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
              <div class="col-sm-10">
                <input type="text" name="address" #address="ngModel" [(ngModel)]="sharedService.updateModelStudent.address"class="form-control" id="inputaddress" placeholder="address" required>
              </div>
            </div> <br>
             <div class="form-group row">
              <label for="inputGrade" class="col-sm-2 col-form-label">Grade</label>
              <div class="col-sm-10">
                <input type="number" name="grade"  #grade="ngModel" [(ngModel)]="sharedService.updateModelStudent.grade" class="form-control" id="inputGrade" placeholder="grade"  required>
              </div>
            </div><br>
             <div class="form-group row">
              <label for="inputClass" class="col-sm-2 col-form-label">Class name</label>
              <div class="col-sm-10">
                <input type="text" name="class"  #class="ngModel" [(ngModel)]="sharedService.updateModelStudent.class" class="form-control" id="inputClass" placeholder="class name"  required>
              </div>
            </div><br>
            <div class="form-group row">
              <div class="col-sm-10 offset-2">
        
                <!--<button type="submit" class="btn btn-primary" (click)="onSubmit(form)" >Submit</button>-->
                <input type="submit" class="btn btn-primary" value="Submit">
              </div>
            </div>
        </form>
    </div>
</div>