
<div class="container">
  <div class="row justify-content-md-center">
      <form>
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" name="name" class="form-control" id="inputName" placeholder="Name"  required>
            </div>
          </div><br>
      
          <div class="form-group row">
            <label for="inputNIC" class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-10">
              <input type="text" name="gender" class="form-control" id="inputgender" placeholder="gender" required>
            </div>
          </div> <br>

          <div class="form-group row">
            <label for="inputNIC" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
              <input type="text" name="address" class="form-control" id="inputaddress" placeholder="address" required>
            </div>
          </div> <br>

          <div class="form-group row">
            <label for="inputNIC" class="col-sm-2 col-form-label">contact Number</label>
            <div class="col-sm-10">
              <input type="text" name="contact" class="form-control" id="inputcontact" placeholder="contact" required>
            </div>
          </div> <br>
      
          <div class="form-group row">
            <div class="col-sm-10 offset-2">
      
              <button type="submit" class="btn btn-primary" >Update</button>
      
            </div>
          </div>
      </form>
  </div>
</div>