
<div class="container">
    <div class="row justify-content-md-center">
        <form>
            <div class="form-group row">
              <label for="inputName" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="text" name="name" class="form-control" id="inputName" placeholder="Name"  required>
              </div>
            </div><br>
        
            <div class="form-group row">
              <label for="inputNIC" class="col-sm-2 col-form-label">TeacherID</label>
              <div class="col-sm-10">
                <input type="text" name="nic" class="form-control" id="inputNIC" placeholder="NIC" required>
              </div>
            </div> <br>
        
            <div class="form-group row">
              <div class="col-sm-10 offset-2">
        
                <button type="submit" class="btn btn-primary" >Submit</button>
        
              </div>
            </div>
        </form>
    </div>
</div>


<div class="container ">
<div class="row ">
  <div class="col-sm-12 mt-5 mb-5 ">
      <div class="col-sm-12 mx-auto">
          <table class="table table-striped lg-12 sm-12">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">TeacherId</th>

                </tr>
              </thead>
              <tbody>
                  <tr >
                      <th ></th>
                      <td></td>
                      <td></td>

                      <td>
                          <button class="btn btn-danger btn-sm"  >Delete</button>
                          
                          
                      </td>
                      <td>
                          <button class="btn btn-secondary btn-sm" routerLink="/classesupdate" >Update</button>
                      </td>
                      
                  </tr> 
              </tbody>
            </table>
          
      </div>
  </div>
</div>
</div>

