
<div class="container">
  <div class="row justify-content-md-center">
      <form>
          <div class="form-group row">
            <label for="inputStudentId" class="col-sm-2 col-form-label">StudentId</label>
            <div class="col-sm-10">
              <input type="text" name="StudentId" class="form-control" id="inputStudentId"  required>
            </div>
          </div><br>
      
          <div class="form-group row">
            <label for="inputGender" class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-10">
              <input type="text" name="Gender" class="form-control" id="inputGender" required>
            </div>
          </div> <br>

          <div class="form-group row">
            <label for="inputDOB" class="col-sm-2 col-form-label">DOB</label>
            <div class="col-sm-10">
              <input type="text" name="DOB" class="form-control" id="inputDOB"  required>
            </div>
          </div> <br>

          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" name="Name" class="form-control" id="inputName"  required>
            </div>
          </div> <br>

          <div class="form-group row">
            <label for="inputGrade" class="col-sm-2 col-form-label">Grade</label>
            <div class="col-sm-10">
              <input type="text" name="Grade" class="form-control" id="inputGrade"  required>
            </div>
          </div> <br>

          <div class="form-group row">
            <label for="inputClass" class="col-sm-2 col-form-label">Class</label>
            <div class="col-sm-10">
              <input type="text" name="Class" class="form-control" id="inputClass"  required>
            </div>
          </div> <br>

          <div class="form-group row">
            <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
              <input type="text" name="Address" class="form-control" id="inputAddress"  required>
            </div>
          </div> <br>
      
          <div class="form-group row">
            <div class="col-sm-10 offset-2">
      
              <button type="submit" class="btn btn-primary" >Submit</button>
      
            </div>
          </div>
      </form>
  </div>
</div>


<div class="container ">
  <div class="row ">
    <div class="col-sm-12 mt-5 mb-5 ">
        <div class="col-sm-12 mx-auto">
            <table class="table table-striped lg-12 sm-12">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">StudentId</th>
                    <th scope="col">Gender</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Name</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Class</th>
                    <th scope="col">Address</th>
  
                  </tr>
                </thead>
                <tbody>
                    <tr >
                        <th ></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
  
                        <td>
                            <button class="btn btn-danger btn-sm"  >Delete</button>
                            
                            
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm"  routerLink="/examresultsupdate">Update</button>
                        </td>
                        
                    </tr> 
                </tbody>
              </table>
            
        </div>
    </div>
  </div>
  </div>
  

