<br>
<div class="container">
     <div class="row justify-content-md-center">
      <H4>ADD STUDENT</H4>
      <br>
        <form #addStudentForm="ngForm" (ngSubmit)="addStudentForm.valid && onSubmit(addStudentForm)">
            <div class="form-group row">
              <label for="inputStudentid" class="col-sm-2 col-form-label">Student id</label>
              <div class="col-sm-10">
                <input type="number" name="studentId"  #studentId="ngModel" [(ngModel)]="model.studentId" class="form-control" id="inputStudentId" placeholder="studentId"  required>
              </div>
            </div><br>
            <div class="form-group row">
              <label for="inputName" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="model.name" class="form-control" id="inputName" placeholder="name"  required>
              </div>
            </div><br>
           <div class="form-group row">
              <label for="inputDob" class="col-sm-2 col-form-label">Dob</label>
              <div class="col-sm-10">
                <input type="date" name="dob" #dob="ngModel" [(ngModel)]="model.dob" class="form-control" id="inputDob" placeholder="Dob"  required>
              </div>
            </div><br>
            <div class="form-group row">
              <label for="inputGender" class="col-sm-2 col-form-label">Gender</label>
              <div class="col-sm-10">
              <input type="text" name="gender" #gender="ngModel" [(ngModel)]="model.gender" class="form-control" id="inputgender" placeholder="gender" required>
              <!--<p> 
              <input type="radio" class="form-control" value="Male"  name="gender" required #gender="ngModel" [(ngModel)]="model.gender" > Male <br>
              <input type="radio" class="form-control" value="Female"   name="gender" required #gender="ngModel" [(ngModel)]="model.gender" > Female
             </p>-->
              </div>
            </div> <br>

            <div class="form-group row">
              <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
              <div class="col-sm-10">
                <input type="text" name="address" #address="ngModel" [(ngModel)]="model.address"class="form-control" id="inputaddress" placeholder="address" required>
              </div>
            </div> <br>
             <div class="form-group row">
              <label for="inputGrade" class="col-sm-2 col-form-label">Grade</label>
              <div class="col-sm-10">
                <input type="number" name="grade"  #grade="ngModel" [(ngModel)]="model.grade" class="form-control" id="inputGrade" placeholder="grade"  required>
              </div>
            </div><br>
             <div class="form-group row">
              <label for="inputClass" class="col-sm-2 col-form-label">Class name</label>
              <div class="col-sm-10">
                <input type="text" name="class"  #class="ngModel" [(ngModel)]="model.class" class="form-control" id="inputClass" placeholder="class name"  required>
              </div>
            </div><br>
            <div class="form-group row">
              <div class="col-sm-10 offset-2">
        
                <!--<button type="submit" class="btn btn-primary" (click)="onSubmit(form)" >Submit</button>-->
                <input type="submit" class="btn btn-primary" value="Submit">
              </div>
            </div>
        </form>
    </div>
</div>


<div class="container ">
    <div class="row ">
        <div class="col-sm-12 mt-5 mb-5 ">
            <div class="col-sm-12 mx-auto">
                <table class="table table-striped lg-12 sm-12" *ngIf="sharedService.allStudents">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">StudentId</th>
                        <th scope="col">Name</th>
                        <th scope="col">Dob</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Grade</th>
                        <th scope="col">Class</th>
                        <th scope="col">Address</th>
                        <th scope="col">Created Date</th>

                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of sharedService.allStudents;index as i">
                            <th >{{i+1}}</th>
                            <td>{{student.studentId}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.dob}}</td>
                            <td>{{student.gender}}</td>
                            <td>{{student.grade}}</td>
                            <td>{{student.class}}</td>
                            <td>{{student.address}}</td>
                            <td>{{sharedService.getDate(student.createdAt)}}</td>
                            <td>
                                <button class="btn btn-danger btn-sm" (click)="passDelete(student._id)" >Delete</button>
                                
                           </td>
                            <td>
                                <button class="btn btn-secondary btn-sm" (click)="passModel(student._id,student.name,student.dob,student.gender,student.grade,student.class,student.address)"routerLink="/updatestudent" >Update</button>
                            </td>
                            
                        </tr> 
                    </tbody>
                  </table>
                
            </div>
        </div>
    </div>
    </div>

