
<div class="container">
     <div class="row justify-content-md-center">
      <H4>ADD TEACHER</H4>
      <br>
        <form #addTeacherForm="ngForm" (ngSubmit)="addTeacherForm.valid && onSubmit(addTeacherForm)">
            <div class="form-group row">
              <label for="inputName" class="col-sm-2 col-form-label">Teacher id</label>
              <div class="col-sm-10">
                <input type="number" name="teacherId"  #teacherId="ngModel" [(ngModel)]="model.teacherId" class="form-control" id="inputTeacherId" placeholder="teacherId"  required>
              </div>
            </div><br>
            <div class="form-group row">
              <label for="inputName" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="model.name" class="form-control" id="inputName" placeholder="name"  required>
              </div>
            </div><br>
        
            <div class="form-group row">
              <label for="inputGender" class="col-sm-2 col-form-label">Gender</label>
              <div class="col-sm-10">
              <input type="text" name="gender" #gender="ngModel" [(ngModel)]="model.gender" class="form-control" id="inputgender" placeholder="gender" required>
              <!--<p> 
              <input type="radio" class="form-control" value="Male"  name="gender" required #gender="ngModel" [(ngModel)]="model.gender" > Male <br>
              <input type="radio" class="form-control" value="Female"   name="gender" required #gender="ngModel" [(ngModel)]="model.gender" > Female
             </p>-->
              </div>
            </div> <br>

            <div class="form-group row">
              <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
              <div class="col-sm-10">
                <input type="text" name="address" #address="ngModel" [(ngModel)]="model.address"class="form-control" id="inputaddress" placeholder="address" required>
              </div>
            </div> <br>
             <div class="form-group row">
              <label for="inputContact" class="col-sm-2 col-form-label">Contact No</label>
              <div class="col-sm-10">
                <input type="number" name="contact"  #contact="ngModel" [(ngModel)]="model.contact" class="form-control" id="inputContact" placeholder="contact no"  required>
              </div>
            </div><br>
            <div class="form-group row">
              <div class="col-sm-10 offset-2">
        
                <!--<button type="submit" class="btn btn-primary" (click)="onSubmit(form)" >Submit</button>-->
                <input type="submit" class="btn btn-primary" value="Submit">
              </div>
            </div>
        </form>
    </div>
</div>


<div class="container ">
    <div class="row ">
        <div class="col-sm-12 mt-5 mb-5 ">
            <div class="col-sm-12 mx-auto">
                <table class="table table-striped lg-12 sm-12" *ngIf="sharedService.allTeachers">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">TeacherId</th>
                        <th scope="col">Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Address</th>
                        <th scope="col">Contact No</th>
                        <th scope="col">Created Date</th>

                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let teacher of sharedService.allTeachers;index as i">
                            <th >{{i+1}}</th>
                            <td>{{teacher.teacherId}}</td>
                            <td>{{teacher.name}}</td>
                            <td>{{teacher.gender}}</td>
                            <td>{{teacher.address}}</td>
                            <td>{{teacher.contact}}</td>
                            <td>{{sharedService.getDate(teacher.createdAt)}}</td>
                            <td>
                                <button class="btn btn-danger btn-sm" (click)="passDelete(teacher._id)" >Delete</button>
                                
                           </td>
                            <td>
                                <button class="btn btn-secondary btn-sm" (click)="passModel(teacher._id,teacher.name,teacher.gender,teacher.address,teacher.contact)"routerLink="/updateteacher" >Update</button>
                            </td>
                            
                        </tr> 
                    </tbody>
                  </table>
                
            </div>
        </div>
    </div>
    </div>

